In [11]:
import pandas as pd
import yfinance as yf
import numpy as np

In [2]:
# function for getting price data from yfinance
def get_prices(code, name):
    ticker = yf.Ticker(code)
    data = ticker.history(period="max")[["Close"]]
    data.rename(columns={"Close":name}, inplace=True)
    data.index = pd.to_datetime(data.index).strftime('%Y-%m-%d')
    return data

In [4]:
# ticker and names
apple = ["AAPL", "Apple"]
tesla = ["TSLA", "Tesla"]
bond = ["^FVX", "bond_rate"]
dow = ["^DJI", "Dow"]
tech_index = ["XLK", "tech_index"]
health_index = ["XLV", "health_index"]
consumer_dis_index = ["XLY", "consumer_dis_index"]
consumer_staples_index = ["XLP", "consumer_staples_index"]
energy_index = ["XLE", "energy_index"]
financial_index = ["XLF", 'financial_index']
industrial_index = ["XLI", "industrial_index"]
material_index = ["XLB", "material_index"]
real_estate_index = ["XLRE", "real_estate_index"]
utilities_index = ["XLU", "utilities_index"]
jpyusd = ["JPYUSD=X", "JPYUSD"]
cnyusd = ["CNYUSD=X", "CNYUSD"]
eurusd = ["EURUSD=X", "EURUSD"]

data_lists = [apple, tesla, bond, dow, tech_index, health_index, consumer_dis_index, consumer_staples_index,
              energy_index, financial_index, industrial_index, material_index, real_estate_index,
              utilities_index, jpyusd, cnyusd, eurusd]

In [5]:
# create DataFrame
df = pd.DataFrame()


# insert values into dataframe
for list in data_lists:
    code = list[0]
    name = list[1]
    data = get_prices(code, name)
    df[name] = data
    
df

,Apple,Tesla,bond_rate,Dow,tech_index,health_index,consumer_dis_index,consumer_staples_index,energy_index,financial_index,industrial_index,material_index,real_estate_index,utilities_index,JPYUSD,CNYUSD,EURUSD
Date,,,,,,,,,,,,,,,,,
1980-12-12,0.099450,NaN,13.630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-12-15,0.094261,NaN,13.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-12-16,0.087343,NaN,14.040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-12-17,0.089504,NaN,13.870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-12-18,0.092099,NaN,13.790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-14,175.740005,276.040009,4.419,34907.109375,171.842941,132.695724,174.469681,72.160965,92.676109,34.854198,105.181526,82.233582,36.637894,64.695755,0.006787,0.137574,1.073422
2023-09-15,175.009995,274.390015,4.453,34618.238281,168.539993,131.650009,171.484985,71.565002,91.335999,34.675003,104.573997,81.318001,36.499001,64.418007,0.006780,0.137440,1.063717
2023-09-18,177.970001,265.279999,4.462,34624.300781,169.350006,131.449997,169.619995,71.540001,92.110001,34.770000,104.690002,80.980003,36.180000,64.370003,0.006763,0.137478,1.066826
2023-09-19,179.070007,266.500000,4.521,34517.730469,169.259995,131.559998,168.770004,71.370003,91.250000,34.730000,104.250000,80.910004,35.990002,64.019997,0.006775,0.137163,1.069267
2023-09-20,175.490005,262.589996,4.515,34440.878906,166.600006,131.570007,167.089996,71.440002,90.400002,34.490002,103.839996,80.059998,36.060001,64.080002,0.006769,0.137069,1.068205

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10783 entries, 1980-12-12 to 2023-09-20
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Apple                   10783 non-null  float64
 1   Tesla                   3330 non-null   float64
 2   bond_rate               10721 non-null  float64
 3   Dow                     7989 non-null   float64
 4   tech_index              6226 non-null   float64
 5   health_index            6226 non-null   float64
 6   consumer_dis_index      6226 non-null   float64
 7   consumer_staples_index  6226 non-null   float64
 8   energy_index            6226 non-null   float64
 9   financial_index         6226 non-null   float64
 10  industrial_index        6226 non-null   float64
 11  material_index          6226 non-null   float64
 12  real_estate_index       2001 non-null   float64
 13  utilities_index         6226 non-null   float64
 14  JPYUSD                  6725 non-null   float64
 15  CNYUSD                  5354 non-null   float64
 16  EURUSD                  4956 non-null   float64
dtypes: float64(17)
memory usage: 1.5+ MB

In [8]:
df.index = pd.to_datetime(df.index)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10783 entries, 1980-12-12 to 2023-09-20
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Apple                   10783 non-null  float64
 1   Tesla                   3330 non-null   float64
 2   bond_rate               10721 non-null  float64
 3   Dow                     7989 non-null   float64
 4   tech_index              6226 non-null   float64
 5   health_index            6226 non-null   float64
 6   consumer_dis_index      6226 non-null   float64
 7   consumer_staples_index  6226 non-null   float64
 8   energy_index            6226 non-null   float64
 9   financial_index         6226 non-null   float64
 10  industrial_index        6226 non-null   float64
 11  material_index          6226 non-null   float64
 12  real_estate_index       2001 non-null   float64
 13  utilities_index         6226 non-null   float64
 14  JPYUSD                  6725 non-null   float64
 15  CNYUSD                  5354 non-null   float64
 16  EURUSD                  4956 non-null   float64
dtypes: float64(17)
memory usage: 1.5 MB

In [9]:
data = df.copy()

data['date'] = pd.to_datetime(data.index)
data = data.reset_index().drop(["Date"], axis=1)
data

,Apple,Tesla,bond_rate,Dow,tech_index,health_index,consumer_dis_index,consumer_staples_index,energy_index,financial_index,industrial_index,material_index,real_estate_index,utilities_index,JPYUSD,CNYUSD,EURUSD,date
0,0.099450,NaN,13.630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-12-12
1,0.094261,NaN,13.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-12-15
2,0.087343,NaN,14.040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-12-16
3,0.089504,NaN,13.870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-12-17
4,0.092099,NaN,13.790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-12-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10778,175.740005,276.040009,4.419,34907.109375,171.842941,132.695724,174.469681,72.160965,92.676109,34.854198,105.181526,82.233582,36.637894,64.695755,0.006787,0.137574,1.073422,2023-09-14
10779,175.009995,274.390015,4.453,34618.238281,168.539993,131.650009,171.484985,71.565002,91.335999,34.675003,104.573997,81.318001,36.499001,64.418007,0.006780,0.137440,1.063717,2023-09-15
10780,177.970001,265.279999,4.462,34624.300781,169.350006,131.449997,169.619995,71.540001,92.110001,34.770000,104.690002,80.980003,36.180000,64.370003,0.006763,0.137478,1.066826,2023-09-18
10781,179.070007,266.500000,4.521,34517.730469,169.259995,131.559998,168.770004,71.370003,91.250000,34.730000,104.250000,80.910004,35.990002,64.019997,0.006775,0.137163,1.069267,2023-09-19
10782,175.490005,262.589996,4.515,34440.878906,166.600006,131.570007,167.089996,71.440002,90.400002,34.490002,103.839996,80.059998,36.060001,64.080002,0.006769,0.137069,1.068205,2023-09-20

In [10]:
data["country"] = "US"

In [12]:
# add additional features
data["month"] = data.date.dt.month.astype(str).astype("category")
data["log_apple"] = np.log(data.Apple)
data["log_tesla"] = np.log(data.Tesla)

In [13]:
data.dropna(inplace=True)
data.head()

,Apple,Tesla,bond_rate,Dow,tech_index,health_index,consumer_dis_index,consumer_staples_index,energy_index,financial_index,...,real_estate_index,utilities_index,JPYUSD,CNYUSD,EURUSD,date,country,month,log_apple,log_tesla
8782,24.848475,15.114667,1.398,17050.750000,37.280865,59.642284,70.730659,39.916458,49.383343,16.221687,...,22.927450,33.919144,0.008339,0.157577,1.124000,2015-10-08,US,10,3.212796,2.715666
8783,25.443027,14.712667,1.406,17084.490234,37.443348,59.913666,70.812683,40.005421,49.063103,16.117661,...,22.889507,33.757278,0.008338,0.157642,1.128694,2015-10-09,US,10,3.236442,2.688709
8784,25.325024,14.372000,1.400,17131.859375,37.488480,60.071239,71.149803,40.110588,48.429699,16.131527,...,23.033701,34.057907,0.008321,0.157846,1.136997,2015-10-12,US,10,3.231793,2.665282
8785,25.368139,14.616667,1.362,17081.890625,37.407238,59.318375,70.767113,39.867928,47.924412,16.006695,...,22.889507,33.980831,0.008333,0.158403,1.135551,2015-10-13,US,10,3.233494,2.682162
8786,25.009598,14.458667,1.280,16924.750000,37.335026,59.204567,70.047333,39.406887,48.337158,15.874916,...,22.889507,33.973110,0.008353,0.157920,1.138498,2015-10-14,US,10,3.219260,2.671294

In [14]:
data.to_csv('./datasets/tesla_apple_stock_price.csv', 
            sep=',', na_rep='NaN')